#sideBar{
  width: 200px;
  position: absolute;
  right: 0;
  top: 0;
  overflow-x: hidden;
  @media screen and (max-width: 768px) {
    position: relative;
    width: 100%;
  }

  & .catListTitle{
    font-size: 13px;
    margin: 5px 0;
  }

  & .newsItem{
    margin-bottom:30px;

    & .catListTitle{
      margin-top: 25px;
    }

    & #profile_block{
      font-size: 13px;

      & a{
        color: #f55d54;
      }
    }
  }

  //加关注
  & #p_b_follow{

  }

  //日历
  & #blogCalendar{
    margin-bottom:30px;
    font-size: 13px;
    //日历的头部
    & .CalTitle{
      background: #f55d54;
    }

    //日历的头部
    & .CalTitle tr:first-child{
      background: #f55d54;

      & td{
        height: 26px;
        border: none;
        color: #fff;
      }

      & td:first-child, & td:last-child{
        position: relative;
        & a{
          color: #f55d54;
        }
      }
      & td:first-child a::before{
        content: '';
        background-image: url("data:image/svg+xml;base64,PHN2ZyBjbGFzcz0iaWNvbiIgc3R5bGU9IndpZHRoOiAxZW07IGhlaWdodDogMWVtO3ZlcnRpY2FsLWFsaWduOiBtaWRkbGU7ZmlsbDogI2ZmZmZmZjtvdmVyZmxvdzogaGlkZGVuOyIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHAtaWQ9IjY4MDQiPjxwYXRoIGQ9Ik0gNzY3LjczMyAxMDIwLjggYyA4LjA2IDAgMTYuMTIzIC0zLjEwOCAyMi4yNDIgLTkuMjkgYyAxMi4yMzkgLTEyLjM3MyAxMi4yMzkgLTMyLjQxNiAwIC00NC44MTMgbCAtNDQ5LjA5MiAtNDUyLjg2IGwgNDQ5LjA5MyAtNDUyLjg4NSBjIDEyLjIzOSAtMTIuMzkxIDEyLjIzOSAtMzIuNDM3IDAgLTQ0LjgwNyBjIC0xMi4yODggLTEyLjM3MyAtMzIuMTU5IC0xMi4zNzMgLTQ0LjQ0NyAwIGwgLTQ3MS4yOTIgNDc1LjI3OSBjIC0xMi4yODUgMTIuMzc0IC0xMi4yODUgMzIuNDM0IDAgNDQuODA3IGwgNDcxLjI5MiA0NzUuMjc4IGMgNi4xNjYgNi4xODMgMTQuMTgyIDkuMjkgMjIuMjAzIDkuMjkgWiIgcC1pZD0iNjgwNSI+PC9wYXRoPjwvc3ZnPg==");
        width: 20px;
        height: 20px;
        display: block;
        position: absolute;
        top: 5px;
        left: 5px;
      }
      & td:last-child a::after{
        content: '';
        background-image: url("data:image/svg+xml;base64,PHN2ZyBjbGFzcz0iaWNvbiIgc3R5bGU9IndpZHRoOiAxZW07IGhlaWdodDogMWVtO3ZlcnRpY2FsLWFsaWduOiBtaWRkbGU7ZmlsbDogI2ZmZmZmZjtvdmVyZmxvdzogaGlkZGVuOyIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHAtaWQ9IjYzMzIiPjxwYXRoIGQ9Ik03NjIuNzM0NTc4IDQ4My4xOTU5NzcgMzE0LjgxNTAzNSA3NC45Nzg2NjhjLTE0LjY5OTc5NC0xNC42MzMyNzktMzguNTM0NjQyLTE0LjYzMzI3OS01My4yMzQ0MzUgMC0xNC42OTk3OTQgMTQuNjI3MTM5LTE0LjY5OTc5NCAzOC4zMzYxMiAwIDUyLjk2MzI1OWw0MjAuOTIzNzAyIDM4My42MTgwNTFMMjYxLjU4MDYgODk1LjE3MTg4OWMtMTQuNjk5Nzk0IDE0LjYyODE2Mi0xNC42OTk3OTQgMzguMzQyMjYgMCA1Mi45NjMyNTkgMTQuNjk5Nzk0IDE0LjYzMzI3OSAzOC41MzQ2NDIgMTQuNjMzMjc5IDUzLjIzNDQzNSAwbDQ0Ny45MTg1MTktNDA4LjIxMTE2OWM3Ljg0MDU3Mi03Ljc5ODYxNyAxMS4xODA2NDQtMTguMTQ5MzU5IDEwLjY1NjcxMS0yOC4zNjUwMjVDNzczLjkxNTIyMSA1MDEuMzQ3MzgyIDc3MC41NzQxMjcgNDkxLjAwMDczNCA3NjIuNzM0NTc4IDQ4My4xOTU5Nzd6IiBwLWlkPSI2MzMzIj48L3BhdGg+PC9zdmc+");
        width: 20px;
        height: 20px;
        display: block;
        position: absolute;
        top: 5px;
        right: 5px;
      }
      & td:first-child + td{
        position: relative;
        &::before, &::after{
          content: '';
          position: absolute;
          top: -10px;
          width: 15px;
          height: 10px;
          background: #f55d54;
          border-top-left-radius: 100%;
          border-top-right-radius: 100%;
        }
        &::before{
          left: 0;
        }
        &::after{
          right: 0;
        }
      }
    }

    //日历的表头
    & tr:not(:first-child) th, & tr:not(:first-child) td{
      border: solid #999;
      border-width: 1px 0 0 1px;
      font-size: 12px;
      padding: 3px 0;
      color: #000;
      text-shadow: 0 0 1px rgba(0,0,0, .3);
      background: #fff;

      &:last-child{
        border-right-width: 1px;
      }

      & a{
        color: #f55d54;
      }
    }
    & tr:last-child td{
      border-bottom-width: 1px;
    }
  }

  & ul{
    list-style: none;
    padding-left: 2px;
    margin-bottom:30px;
    & li{
      font-size: 13px;
      line-height: 18px;
      color: #f55d54;
      text-decoration: underline;
      & a{
        color: #333;
      }
      margin-bottom: 8px;
    }
  }


  //隐藏无用的导航
  & #sidebar_recentcomments, & #sidebar_shortcut, & #sidebar_categories, & #sidebar_topcommentedposts{
    display: none;
  }
}